# Python
__pycache__/
*.pyc
*.pyo

# Virtualenv
.venv/
venv/

# Data (DEM / Heightmaps)
data/tif/
data/heightmaps/
*.tif

# Optional: downloaded metadata
data/tileList.txt

# OS
.DS_Store
Thumbs.db

# Tests
tests/